/* chart style is begin */
ul {
	&.flow-chart li a,&.pass-chart li a {
		color:#FFFFFF;
		display:block;
		font-size:11px;
		padding:3px 5px 4px 3px;
		font-weight:bold;
		font-family:verdana;
	}
	&.flow-chart li a:hover,&.pass-chart li a:hover {
		text-decoration:underline;
	}
	&.flow-chart {
		padding:50px 0px 32px 3px;
		height:73px;
	}
	&.flow-chart>li {
		float:left;
	}
	&.pause,&.open {
		position:relative;
	}
}
div.admin-content ul {
	&.flow-chart {
		overflow:hidden;
	}
	li.open {
		position:relative;
	}
	ul {
		&.canceled,&.rejected-link {
			position:relative;
		}
	}
	div.newitem-top-block {
		position:relative;
	}
	ul {
		&.refunded,&.tipped,&.draft {
			position:relative;
		}
	}
	li.upcoming1 {
		position:relative;
	}
	ul {
		&.pending,&.rejected-link {
			position:relative;
		}
	}
	li.rejected {
		position:relative;
	}
	ul {
		&.closed-link,&.closed-link1,&.paid-company,&.paid-company1 {
			position:relative;
		}
		&.pending {
			left:88px;
			top:-86px;
		}
		&.rejected-link {
			 left:160px;
             top:-50px;
			li.rejected {
				left:-63px;
				top:-41px;
			}
		}
	}
	li.tipped {
		left:-26px;
		top:-60px;
	}
	ul {
		&.closed-link {
			left:125px;
			top:-28px;
		}
		&.closed-link1 {
			left:25px;
			top:-1px;
		}
		&.paid-company {
			left:98px;
			top:-23px;
		}
		&.paid-company1 {
			left:158px;
			top:-23px;
		}
	}
	li.upcoming1 {
		left:-29px;
		top:-74px;
		display:none;
	}
	ul.draft {
		left:117px;
		top:-244px;
	}
	.hidden-link {
		display:none;
	}
	ul {
		&.item-chart span.new-item span.new-item-r {
			color:#333;
		}
		&.item-chart>li {
			float:left;
		}
		&.draft-list {
			float:left;
			margin:0px 0px 0px 16px;
		}
		&.pass-chart span.used {
			height:23px;
			display:block;
			float:left;
		}
	}
	span {
		&.refunded,&.expired,&.canceled,&.paid,&.closed,&.tipped,&.open,&.rejected,&.upcoming,&.new-item,&.draft-link,&.pending-approval {
			height:23px;
			display:block;
			float:left;
		}
		&.new-item span.new-item-r,&.refunded a,&.expired a,&.canceled a,&.paid a,&.closed a,&.tipped a,&.open a,&.rejected a,&.upcoming a,&.new-item a,&.draft-link a,&.pending-approval a {
			display:block;
		}
		&.new-item {
			background:url(../img/site-specific-sprite.png) no-repeat left -2px;
			padding:0px 0px 0px 3px;
			margin:10px 10px 0px 0px;
			span.new-item-r {
				background:url(../img/site-specific-sprite.png) no-repeat right -28px;
				padding:3px 5px 10px 4px;
				display:block;
				height:20px;
				font-weight:bold;
			}
		}
		&.refunded,&.expired,&.canceled,&.paid,&.closed,&.tipped,&.pause,&.open,&.draft-link,&.pending-approval,&.upcoming,&.rejected {
			padding:0px 0px 0px 3px;
		}
		&.draft-link {
			background:url(../img/site-specific-sprite.png) no-repeat left -581px;
			padding:0px 0px 0px 3px;
			a {
				background:url(../img/site-specific-sprite.png) no-repeat right -608px;
			}
		}
		&.pending-approval {
			background:url(../img/site-specific-sprite.png) no-repeat left -369px;
			padding:0px 0px 0px 3px;
			a {
				background:url(../img/site-specific-sprite.png) no-repeat right -395px;
			}
		}
		&.upcoming {
			background:url(../img/site-specific-sprite.png) no-repeat left -422px;
			a {
				background:url(../img/site-specific-sprite.png) no-repeat right -448px;
				display:block;
			}
		}
		&.rejected {
			background:url(../img/site-specific-sprite.png) no-repeat left -474px;
			a {
				background:url(../img/site-specific-sprite.png) no-repeat right -500px;
			}
		}
		&.open {
			background:url(../img/site-specific-sprite.png) no-repeat left -265px;
			a {
				background:url(../img/site-specific-sprite.png) no-repeat right -290px;
			}
		}
		&.pause {
			background:url(../img/site-specific-sprite.png) no-repeat left -581px;
			a {
				background:url(../img/site-specific-sprite.png) no-repeat right -608px;
			}
		}
		&.tipped {
			background:url(../img/site-specific-sprite.png) no-repeat left -161px;
			a {
				background:url(../img/site-specific-sprite.png) no-repeat right -187px;
			}
		}
		&.closed {
			background:url(../img/site-specific-sprite.png) no-repeat left -108px;
			a {
				background:url(../img/site-specific-sprite.png) no-repeat right -134px;
				display:block;
			}
		}
		&.paid {
			background:url(../img/site-specific-sprite.png) no-repeat left -315px;
			a {
				background:url(../img/site-specific-sprite.png) no-repeat right -341px;
			}
		}
		&.canceled {
			background:url(../img/site-specific-sprite.png) no-repeat left -54px;
			a {
				background:url(../img/site-specific-sprite.png) no-repeat right -81px;
			}
		}
		&.expired {
			background:url(../img/site-specific-sprite.png) no-repeat left -214px;
			a {
				background:url(../img/site-specific-sprite.png) no-repeat right -240px;
			}
		}
		&.refunded {
			background:url(../img/site-specific-sprite.png) no-repeat left -527px;
			a {
				background:url(../img/site-specific-sprite.png) no-repeat right -554px;
			}
		}
	}
	div {
		&.newitem-block {
			background:url(../img/site-specific-sprite.png) no-repeat 66px -840px;
			padding:0px 40px 0px 0px;
		}
		&.newitem-bottom-block {
			background:url(../img/site-specific-sprite.png) no-repeat 138px -644px;
			padding:0px 0px 40px 0px;
		}
		&.pass-inner-block {
			background:url("../img/site-specific-sprite.png") no-repeat scroll 88px -1807px transparent;
		}
	}
	*+html div.newitem-bottom-block {
		background:url(../img/site-specific-sprite.png) no-repeat 138px -644px;
	}
	div {
		&.newitem-top-block {
			background:url(../img/site-specific-sprite.png) no-repeat 29px -1057px;
			top:-1px;
		}
		&.pending-block {
			background:url(../img/site-specific-sprite.png) no-repeat 150px -1004px;
			padding:0px 47px 0px 0px;
			height:28px;
		}
		&.open-block {
			background:url(../img/site-specific-sprite.png) no-repeat 68px -925px;
			padding:0px 52px 0px 0px;
			height:28px;
		}
		&.open-top-block {
			background:url(../img/site-specific-sprite.png) no-repeat 76px -2131px;
			padding:23px 0px 0px 0px;
		}
		&.open-top1-block {
			background:url(../img/site-specific-sprite.png) no-repeat 209px -1254px;
		}
		&.open-bottom-block {
			background:url(../img/site-specific-sprite.png) no-repeat 52px -1172px;
			height:60px;
		}
		&.newitem-reject-block {
			padding:10px 0px 0px 0px;
			background:url(../img/arrow2.png) no-repeat 63px -11px;
		}
		&.pending-top-block {
			background:url(../img/site-specific-sprite.png) no-repeat 58px -675px;
			padding: 22px 0px 0px 0px;
		}
		&.pending-bottom-block {
			/*background:url(../img/site-specific-sprite.png) no-repeat 127px -721px;
			*/
			height:72px;
		}
	}
	li.draft {
		background:url(../img/site-specific-sprite.png) no-repeat 68px -884px;
	}
	ul {
		&.merchant-chart li.draft {
			background:none;
		}
		&.rejected-link {
			background:url("../img/site-specific-sprite.png") no-repeat 60px -1383px;
		}
		&.merchant-chart ul.rejected-link {
			background:none;
		}
	}
	div.tipped1-block {
		background:url(../img/site-specific-sprite.png) no-repeat 81px -10px;
		height:30px;
		padding:0px 30px 0px 0px;
		float:left;
	}
	li {
		&.expired,&.canceled {
			background:url(../img/site-specific-sprite.png) no-repeat left top;
		}
	}
	ul {
		&.refunded,&.tipped {
			left:48px;
			top:-100px;
		}
		&.refunded {
			left:104px;
			top:-80px;
		}
		&.tipped{
            left:-26px;
        }
		&.pass-chart span.used {
			background:url("../img/site-specific-sprite.png") no-repeat scroll left -1941px transparent;
			padding:0px 0px 0px 3px;
			a {
				background:url("../img/site-specific-sprite.png") no-repeat scroll right -1973px transparent;
				color:#333;
			}
		}
		&.canceled {
		  left:38px;
          top:-63px;
		}
		&.canceled-block {
			left:115px;
			top:-116px;
		}
		&.refunded>li {
			background:url(../img/site-specific-sprite.png) no-repeat 0 -1004px;
			float:left;
			padding:0px 0px 0px 44px;
		}
		&.tipped>li {
			background:url(../img/site-specific-sprite.png) no-repeat 0 -847px;
			float:left;
			padding:0px 0px 0px 22px;
		}
		&.refunded li.expired,&.tipped li.tipped1 {
			background:none;
			padding:0px;
		}
	}
	li {
		&.open {
			left:18px;
			top:-25px;
		}
		&.open1 {
			background:url(../img/site-specific-sprite.png) no-repeat 209px -1254px;
			width:450px;
		}
	}
	ul {
		&.draft>li {
			float:left;
			padding:0px 125px 0px 0px;
		}
		&.open {
		    left:-77px;
            top:0;
		}
		&.open1 {
			top:-43px;
		}
		&.pause {
			left:-8px;
			top:-19px;
		}
		&.tipped-block {
			top:-144px;
			left:76px;
			li.closed {
				background:none;
				padding:0px;
			}
		}
		&.refunded-block {
			top:-124px;
		}
		&.canceled-block {
			left:115px;
			top:-107px;
		}
		&.draft-block {
			top:-289px;
		}
	}
	div {
		&.pause-top-block {
			height:44px;
		}
		&.pause-bottom-block {
			background:url(../img/site-specific-sprite.png) no-repeat 16px -654px;
			height:44px;
		}
		&.pause-top-block {
			background:url(../img/site-specific-sprite.png) no-repeat 56px -743px;
		}
	}
	ul.rejected-link>li {
		float:left;
	}
	div {
		&.pass-bottom-block {
			background:url("../img/site-specific-sprite.png") no-repeat scroll 43px -1595px transparent;
			padding:41px 0;
		}
		&.pass-top-block {
			background:url("../img/site-specific-sprite.png") no-repeat scroll 43px -1648px transparent;
		}
	}
	ul {
		&.pass-cancel li.refunded,&.expired-block li.closed {
			position:relative;
		}
		&.pass-cancel {
			position:relative;
			li {
				&.canceled,&.open {
					position:relative;
				}
			}
			ul.expired-block {
				position:relative;
			}
		}
		&.expired-block li.expired {
			position:relative;
		}
		&.pass-chart {
			overflow:hidden;
			height:118px;
		}
		&.pass-cancel li.refunded,&.expired-block li.closed {
			position:relative;
		}
		&.pass-cancel {
			position:relative;
			li {
				&.canceled,&.open {
					position:relative;
				}
			}
			ul.expired-block {
				position:relative;
			}
		}
		&.expired-block li.expired {
			position:relative;
		}
		&.pass-canceled {
			left:-15px;
			position:relative;
			top:-34px;
		}
		&.pass-chart ul {
			&.expired-block,&.pass-cancel {
				position:static;
			}
		}
		&.pass-available {
			left:145px;
			position:relative;
			top: -37px;
		}
	}
	/* pass start style is begin */
	*+html ul.pass-available {
		left:58px;
	}
	ul.pass-refunded {
		left:71px;
		position:relative;
		top:-109px;
		width:128px;
	}
	*+html ul.pass-refunded {
		left:-5px;
		top:-106px;
	}
	ul {
		&.pass-canceled li.canceled {
			background:none;
		}
		&.expired-block li {
			&.expired {
				left:-25px;
				top:-32px;
				background:none;
			}
			&.closed {
				left:71px;
				top:20px;
			}
		}
	}
	*+html ul {
		&.expired-block li.closed {
			top:27px;
		}
		&.draft {
			top:-248px;
		}
	}
	div.pass-bottom-block {
		padding:41px 0px 41px 0px;
	}
	.all-item-links {
		position:absolute;
		right:10px;
		top: 160px;
	}
	/* pass start style is begin */